In [4]:
import pandas as pd

In [5]:
df = pd.read_excel("../src/list_skills.xlsx",index_col=0)
df

                    skills_on_resume
1                           Delft 3D
2                               QGIS
3                             Python
4                             MATLAB
5                      R programming
6                      C Programming
7                                SQL
8                              Shell
9                     Bash Scripting
10                        SOLIDWORKS
11                  Microsoft Office
12                               Git
13       Google Cloud Platform (GCP)
14                   Microsoft Azure
15  Microsoft Azure Machine Learning
16                         Amazon S3
17                            Docker
18                          Kubeflow
19                            MLflow
20     Rancher Kubernetes Management
21                        Kubernetes
22                      Data Science
23                  Machine Learning
24           Artificial Intelligence
25                   Computer Vision
26       Natural Language Processing
27              Software Engineering
28                             MLOps
29                             Agile

In [12]:
str_all = ""
for ind, val in enumerate(df["skills_on_resume"]):
    str_all = str_all + val + ", "

print(str_all)

Delft 3D, QGIS, Python, MATLAB, R programming, C Programming, SQL, Shell, Bash Scripting, SOLIDWORKS, Microsoft Office, Git, Google Cloud Platform (GCP), Microsoft Azure, Microsoft Azure Machine Learning, Amazon S3, Docker, Kubeflow, MLflow, Rancher Kubernetes Management, Kubernetes, Data Science, Machine Learning, Artificial Intelligence, Computer Vision, Natural Language Processing, Software Engineering, MLOps, Agile,

Delft 3D, QGIS, Python, MATLAB, R programming, C Programming, SQL, SOLIDWORKS, Microsoft Office, Git, Google Cloud Platform (GCP), Microsoft Azure, Microsoft Azure Machine Learning, Amazon S3, Docker, Kubeflow, MLflow, Rancher Kubernetes Management, Kubernetes, Data Science, Machine Learning, Artificial Intelligence, Computer Vision, Natural Language Processing, Software Engineering, MLOps, Agile,