__Collates all the first cell of .ipynb files found in folder directory `notebooks/`.__ <br>
Just `Run All` to generate this collated first cells.

In [1]:
import os
import re
import nbformat

In [2]:

# Change this to the directory containing your notebooks
notebook_dir = 'notebook'

In [3]:

# Collect the names of all notebooks in the directory
notebook_names = [f for f in os.listdir(notebook_dir) if f.endswith('.ipynb')]
notebook_names

['notebook_1.ipynb',
 'notebook_2.ipynb',
 'notebook_2_private.ipynb',
 'notebook_3.ipynb',
 'notebook_4.ipynb',
 'notebook_5.ipynb',
 'notebook_6.ipynb',
 'notebook_7.ipynb']

In [4]:
# Initialize an empty dictionary to store the titles and descriptions
titles_and_descriptions = {}

# Iterate over the notebooks
for notebook_name in notebook_names:
  # Read the notebook file
  with open(os.path.join(notebook_dir, notebook_name), 'r') as f:
    notebook = nbformat.reads(f.read(), as_version=4)
    # print("notebook", notebook)
  
  # Extract the first markdown cell
  markdown_cells = [cell for cell in notebook['cells'] if cell['cell_type'] == 'markdown']
  if markdown_cells:
    markdown_cell = markdown_cells[0]
    # print("markdown_cell", markdown_cell)
    
    # Extract the title from the markdown cell (assumes it is the first line)
    title_match = re.match(r'# (.*)', markdown_cell['source'])
    if title_match:
      title = title_match.group(1)
    else:
      title = 'No title found'
      
    # Extract the description from the markdown cell (assumes it is everything after the first line)
    description_match = re.match(r'# (.*)\n(.*)', markdown_cell['source'], re.DOTALL)
    if description_match:
      description = description_match.group(2)
    else:
      description = 'No description found'
      
    # Add the title and description to the dictionary using the notebook name as the key
    titles_and_descriptions[notebook_name] = (title, description)
  else:
    # If no markdown cell was found, add a placeholder
    titles_and_descriptions[notebook_name] = ('No markdown cell found', 'No markdown cell found')

In [5]:
if titles_and_descriptions is not None:
    print("yes")
else:
    print("No")

yes

In [6]:
# description_match.group(2)

In [7]:
# description_match.group(1)

In [8]:
# description_match.group(0)

In [9]:
title

'This INCREDIBLE trick will speed up your data processes.'

In [10]:
title_match.group(1)

'This INCREDIBLE trick will speed up your data processes.'

In [11]:
title_match.group(0)

'# This INCREDIBLE trick will speed up your data processes.'

In [12]:
title_match

In [13]:
markdown_cell

{'attachments': {},
 'cell_type': 'markdown',
 'metadata': {},
 'source': '# This INCREDIBLE trick will speed up your data processes.\n\nhttps://www.youtube.com/watch?v=u4rsA5ZiTls <br> CSV/Pickle/Feather/Parquet/Other Options/Benchmarking '}

In [14]:
notebook.cells

[{'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': '# This INCREDIBLE trick will speed up your data processes.\n\nhttps://www.youtube.com/watch?v=u4rsA5ZiTls <br> CSV/Pickle/Feather/Parquet/Other Options/Benchmarking '},
 {'cell_type': 'code',
  'execution_count': 1,
  'metadata': {},
  'outputs': [],
  'source': 'import pandas as pd\nimport numpy as np'},
 {'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': '## Create our dataset'},
 {'cell_type': 'code',
  'execution_count': 2,
  'metadata': {},
  'outputs': [],
  'source': "def get_dataset(size):\n    # Create Fake Dataset\n    df = pd.DataFrame()\n    df['size'] = np.random.choice(['big', 'medium', 'small'], size)\n    df['age'] = np.random.randint(1, 50, size)\n    df['team'] = np.random.choice(['red', 'blue', 'yellow', 'green'], size)\n    df['win'] = np.random.choice(['yes', 'no'], size)\n    dates = pd.date_range('2020-01-01', '2022-12-31')\n    df['date'] = np.random.choice(dates, size)\n    df['prob'] = np.random.uniform(0, 1, size)\n    return df\n"},
 {'cell_type': 'code',
  'execution_count': 3,
  'metadata': {},
  'outputs': [],
  'source': 'def set_dtypes(df):\n    """\n    Setting and casting the different columns to specific\n    d-types.\n    (Helps make our data frame memory efficient)\n\n    """\n    df[\'size\'] = df[\'size\'].astype(\'category\')\n    df[\'team\'] = df[\'team\'].astype(\'category\')\n    df[\'age\'] = df[\'age\'].astype(\'int16\')\n    df[\'win\'] = df[\'win\'].map({\'yes\': True, \'no\': False})\n    df[\'prob\'] = df[\'prob\'].astype(\'float32\')\n    return df\n'},
 {'cell_type': 'code',
  'execution_count': 5,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': "<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 1000000 entries, 0 to 999999\nData columns (total 6 columns):\n #   Column  Non-Null Count    Dtype         \n---  ------  --------------    -----         \n 0   size    1000000 non-null  object        \n 1   age     1000000 non-null  int32         \n 2   team    1000000 non-null  object        \n 3   win     1000000 non-null  object        \n 4   date    1000000 non-null  datetime64[ns]\n 5   prob    1000000 non-null  float64       \ndtypes: datetime64[ns](1), float64(1), int32(1), object(3)\nmemory usage: 42.0+ MB\n"}],
  'source': 'df = get_dataset(1_000_000)\ndf.info()'},
 {'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': '## CSV'},
 {'cell_type': 'code',
  'execution_count': 7,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'CPU times: total: 5.12 s\nWall time: 5.22 s\n'}],
  'source': '%%time\ndf = get_dataset(1_000_000)\ndf.to_csv("../output/nb_7_test_csv.csv", index=False)'},
 {'cell_type': 'code',
  'execution_count': 8,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'CPU times: total: 500 ms\nWall time: 487 ms\n'}],
  'source': '%%time\ndf = pd.read_csv("../output/nb_7_test_csv.csv")'},
 {'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': "We are concerned with...\n- who's going to be reading this file?\n- csv if it's for someone who needs to open in excel.\n- csv are not most ideal for efficiency and reduced disk space.\n"},
 {'cell_type': 'code',
  'execution_count': 12,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': "<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 1000000 entries, 0 to 999999\nData columns (total 6 columns):\n #   Column  Non-Null Count    Dtype         \n---  ------  --------------    -----         \n 0   size    1000000 non-null  category      \n 1   age     1000000 non-null  int16         \n 2   team    1000000 non-null  category      \n 3   win     1000000 non-null  bool          \n 4   date    1000000 non-null  datetime64[ns]\n 5   prob    1000000 non-null  float32       \ndtypes: bool(1), category(2), datetime64[ns](1), float32(1), int16(1)\nmemory usage: 16.2 MB\nCPU times: total: 547 ms\nWall time: 542 ms\n"}],
  'source': '%%time\ndf = get_dataset(1_000_000)\ndf = set_dtypes(df)\ndf.info()'},
 {'cell_type': 'code',
  'execution_count': 13,
  'metadata': {},
  'outputs': [],
  'source': 'df.to_csv("../output/nb_7_test_csv_2.csv", index=False)\ndf = pd.read_csv("../output/nb_7_test_csv_2.csv")'},
 {'cell_type': 'code',
  'execution_count': 14,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': "<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 1000000 entries, 0 to 999999\nData columns (total 6 columns):\n #   Column  Non-Null Count    Dtype  \n---  ------  --------------    -----  \n 0   size    1000000 non-null  object \n 1   age     1000000 non-null  int64  \n 2   team    1000000 non-null  object \n 3   win     1000000 non-null  bool   \n 4   date    1000000 non-null  object \n 5   prob    1000000 non-null  float64\ndtypes: bool(1), float64(1), int64(1), object(3)\nmemory usage: 39.1+ MB\n"}],
  'source': 'df.info()'},
 {'cell_type': 'code',
  'execution_count': 19,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': "<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 1000000 entries, 0 to 999999\nData columns (total 6 columns):\n #   Column  Non-Null Count    Dtype   \n---  ------  --------------    -----   \n 0   size    1000000 non-null  category\n 1   age     1000000 non-null  int16   \n 2   team    1000000 non-null  category\n 3   win     1000000 non-null  bool    \n 4   date    1000000 non-null  object  \n 5   prob    1000000 non-null  float64 \ndtypes: bool(1), category(2), float64(1), int16(1), object(1)\nmemory usage: 20.0+ MB\n"}],
  'source': 'df = pd.read_csv("../output/nb_7_test_csv_2.csv", \n                dtype={\n                    \'size\':\'category\',\n                    \'age\':\'int16\',\n                    \'team\':\'category\',})\ndf.info()'},
 {'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': '## Pickle'},
 {'cell_type': 'code',
  'execution_count': 38,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'CPU times: total: 15.6 ms\nWall time: 10.5 ms\nCPU times: total: 0 ns\nWall time: 12.1 ms\n'}],
  'source': "df = get_dataset(1_000_000)\ndf = set_dtypes(df)\n%time df.to_pickle('../output/nb_7_test.pickle')\n%time df_pickle = pd.read_pickle('../output/nb_7_test.pickle')"},
 {'cell_type': 'code',
  'execution_count': 39,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': "<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 1000000 entries, 0 to 999999\nData columns (total 6 columns):\n #   Column  Non-Null Count    Dtype         \n---  ------  --------------    -----         \n 0   size    1000000 non-null  category      \n 1   age     1000000 non-null  int16         \n 2   team    1000000 non-null  category      \n 3   win     1000000 non-null  bool          \n 4   date    1000000 non-null  datetime64[ns]\n 5   prob    1000000 non-null  float32       \ndtypes: bool(1), category(2), datetime64[ns](1), float32(1), int16(1)\nmemory usage: 16.2 MB\n"}],
  'source': 'df_pickle.info()'},
 {'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': '# Parquet\n```\n    !pip install pyarrow\n    !pip install fastparquet\n```'},
 {'cell_type': 'code',
  'execution_count': 40,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'CPU times: total: 93.8 ms\nWall time: 101 ms\nCPU times: total: 46.9 ms\nWall time: 30.3 ms\n'}],
  'source': 'df = get_dataset(1_000_000)\ndf = set_dtypes(df)\n%time df.to_parquet("../output/nb_7_test.parquet")\n%time df_parquet = pd.read_parquet("../output/nb_7_test.parquet")'},
 {'cell_type': 'code',
  'execution_count': 41,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': "<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 1000000 entries, 0 to 999999\nData columns (total 6 columns):\n #   Column  Non-Null Count    Dtype         \n---  ------  --------------    -----         \n 0   size    1000000 non-null  category      \n 1   age     1000000 non-null  int16         \n 2   team    1000000 non-null  category      \n 3   win     1000000 non-null  bool          \n 4   date    1000000 non-null  datetime64[ns]\n 5   prob    1000000 non-null  float32       \ndtypes: bool(1), category(2), datetime64[ns](1), float32(1), int16(1)\nmemory usage: 16.2 MB\n"}],
  'source': 'df_parquet.info()'},
 {'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': '## Feather'},
 {'cell_type': 'code',
  'execution_count': 37,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'CPU times: total: 78.1 ms\nWall time: 26.6 ms\nCPU times: total: 31.2 ms\nWall time: 23.7 ms\n'}],
  'source': 'df = get_dataset(1_000_000)\ndf = set_dtypes(df)\n%time df.to_feather("../output/nb_7_test.feather")\n%time df_feather = pd.read_feather("../output/nb_7_test.feather")'},
 {'cell_type': 'code',
  'execution_count': 42,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': "<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 1000000 entries, 0 to 999999\nData columns (total 6 columns):\n #   Column  Non-Null Count    Dtype         \n---  ------  --------------    -----         \n 0   size    1000000 non-null  category      \n 1   age     1000000 non-null  int16         \n 2   team    1000000 non-null  category      \n 3   win     1000000 non-null  bool          \n 4   date    1000000 non-null  datetime64[ns]\n 5   prob    1000000 non-null  float32       \ndtypes: bool(1), category(2), datetime64[ns](1), float32(1), int16(1)\nmemory usage: 16.2 MB\n"}],
  'source': 'df_feather.info()'},
 {'attachments': {},
  'cell_type': 'markdown',
  'metadata': {},
  'source': '## CSV vs Pickle vs Parquet vs Feather'},
 {'cell_type': 'code',
  'execution_count': 50,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'Reading and writing CSV\nCPU times: total: 23.6 s\nWall time: 23.8 s\nCPU times: total: 1.8 s\nWall time: 1.8 s\n'}],
  'source': 'print("Reading and writing CSV")\ndf = get_dataset(5_000_000)\ndf = set_dtypes(df)\n%time df.to_csv("../output/nb_7_test_csv_2.csv", index=False)\n%time df = pd.read_csv("../output/nb_7_test_csv_2.csv")'},
 {'cell_type': 'code',
  'execution_count': 51,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'Reading and writing Pickle\nCPU times: total: 31.2 ms\nWall time: 48.2 ms\nCPU times: total: 31.2 ms\nWall time: 43 ms\n'}],
  'source': 'print("Reading and writing Pickle")\ndf = get_dataset(5_000_000)\ndf = set_dtypes(df)\n%time df.to_pickle(\'../output/nb_7_test.pickle\')\n%time df_pickle = pd.read_pickle(\'../output/nb_7_test.pickle\')'},
 {'cell_type': 'code',
  'execution_count': 52,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'Reading and writing Parquet\nCPU times: total: 500 ms\nWall time: 426 ms\nCPU times: total: 359 ms\nWall time: 132 ms\n'}],
  'source': 'print("Reading and writing Parquet")\ndf = get_dataset(5_000_000)\ndf = set_dtypes(df)\n%time df.to_parquet("../output/nb_7_test.parquet")\n%time df_parquet = pd.read_parquet("../output/nb_7_test.parquet")'},
 {'cell_type': 'code',
  'execution_count': 53,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': 'Reading and writing Feather\nCPU times: total: 203 ms\nWall time: 119 ms\nCPU times: total: 93.8 ms\nWall time: 72.4 ms\n'}],
  'source': 'print("Reading and writing Feather")\ndf = get_dataset(5_000_000)\ndf = set_dtypes(df)\n%time df.to_feather("../output/nb_7_test.feather")\n%time df_feather = pd.read_feather("../output/nb_7_test.feather")\n'},

In [15]:
# Print the titles and descriptions in the order of the notebook names
for notebook_name in notebook_names:
  title, description = titles_and_descriptions[notebook_name]
  print(notebook_name)
  print(title)
  print(description)
  print()

notebook_1.ipynb
Resume details generation tool
This aims to output resume details from my source details in excel sheet.

notebook_2.ipynb
Convert Excel table to Markdown syntax
Because typing out the markdown code for a table is tough and tedious, therefore, I use python to help me generate the markdown syntax from excel tables. Excel tables makes it more user friendly for data entry.

notebook_2_private.ipynb
Convert Excel table to Markdown syntax
Because typing out the markdown code for a table is tough and tedious, therefore, I use python to help me generate the markdown syntax from excel tables. Excel tables makes it more user friendly for data entry.

notebook_3.ipynb
Time Series Forecasting with XGBoost - Use python and machine learning to predict energy consumption
https://www.youtube.com/watch?v=vV12dGe_Fho <br> Time Series Forecasting with XGBoost - Use python and machine learning to predict energy consumption

notebook_4.ipynb
Make Your Pandas Code Lightning Fast
[Make Your Pandas Code Lightning Fast](https://www.youtube.com/watch?v=SAFmrTnEHLg) <br> Speed up slow pandas/python code by 2500x using this simple trick. Face it, your pandas code is slow. Learn how to speed it up! In this video Rob discusses a key trick to making your code faster! Pandas is an essential tool for any python programmer and data scientist. Using the pandas apply function, using vectorized functions, the speed difference can be significant. Write faster python code.

notebook_5.ipynb
Try out dask
To find out what dask can do and have some hands on with codes.

notebook_6.ipynb
Doing diff on resume (docx)
Compare two resumes in docx format.

notebook_7.ipynb
This INCREDIBLE trick will speed up your data processes.
https://www.youtube.com/watch?v=u4rsA5ZiTls <br> CSV/Pickle/Feather/Parquet/Other Options/Benchmarking

In [16]:
with open("Notebooks_Title_and_Description.md", "w") as f:
    f.write("## Notebook Contents")
    f.write("\n\n")

with open("Notebooks_Title_and_Description.md", "a") as f:
    for notebook_name in notebook_names:
        title, description = titles_and_descriptions[notebook_name]
        f.write("__`" + notebook_name + "`__ " + " <br>")
        f.write("\n")
        f.write("__" + "Title:" + "__ ")
        f.write(title + " <br>")
        f.write("\n")
        f.write("__" + "Description:" + "__ ")
        f.write(description)
        f.write("\n\n")

In [17]:
with open("README.md", "w") as f:
    f.write("# Repo for Test Bedding")
    f.write("\n\n")
    f.write("This is a repo for quick and dirty test bedding of new ideas, new codes, anything useful and interesting, or anything i learnt off youtube, articles, ChatGPT, etc. Mainly notebooks will be used as it is great for visualisation and learning, but there is really no limits here. :)")
    f.write("\n\n")
    f.write("## Notebook Contents")
    f.write("\n\n")

with open("README.md", "a") as f:
    for notebook_name in notebook_names:
        title, description = titles_and_descriptions[notebook_name]
        f.write("__`" + notebook_name + "`__ " + " <br>")
        f.write("\n")
        f.write("__" + "Title:" + "__ ")
        f.write(title + " <br>")
        f.write("\n")
        f.write("__" + "Description:" + "__ ")
        f.write(description)
        f.write("\n\n")